.header {
    background-color: $primary-color;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo img {
        height: 40px;
    }
}

.header {
  background-color: #fff;
}

.header__nav {
  padding: 1rem;
}
