main {
    text-align: center;
    padding: 60px 20px;

    h1 {
        font-size: 3rem;
        color: $primary-color;
    }

    h2 {
        color: $secondary-color;
        margin: 15px 0;
    }
}
